<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="techbook"><ion-label align="center" TextDecorations="Underline">TICKETS</ion-label></h2>
  <hr class="logohr">
  <br>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>
  <!--<div class="PicRating">
    <div class="prfpic" align="left">
      <div  style="padding-top:4px; padding-left:-2px;" class="cardlabel2P2">

        <ion-img style="margin-left:13px; background-color:green;" class="onlineImg"></ion-img>
        <ion-img style="margin-left:-8px;" class="profilerating" src="{{(this.userInfo.avatar=='')?'assets/avatar.png':this.userInfo.avatar}}"></ion-img>

        <ion-label class="profiletexts" >{{this.userInfo.name}}</ion-label>
        <ion-label class="profiletexts">{{this.userInfo.phone}}</ion-label>
      </div>
    </div>
    <div class="prating" align="right">
      <div class="prating">
        <ion-icon name="star" *ngIf="this.userInfo.rating > 0"></ion-icon>
        <ion-icon name="star" *ngIf="this.userInfo.rating > 1"></ion-icon>
        <ion-icon name="star" *ngIf="this.userInfo.rating > 2"></ion-icon>
        <ion-icon name="star" *ngIf="this.userInfo.rating > 3"></ion-icon>
        <ion-icon name="star" *ngIf="this.userInfo.rating > 4"></ion-icon>
        <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 1"></ion-icon>
        <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 2"></ion-icon>
        <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 3"></ion-icon>
        <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 4"></ion-icon>
        <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 5"></ion-icon>
      </div>
    </div>
  </div>
  <br>-->

  <ion-list class="ticket-list">
    <ion-item class="item item-text-wrap text-wrap" *ngFor="let ticket of history" (click)="ticketclick(ticket.ticket_id,ticket.approved,ticket.screen_id)" >
      <ion-avatar item-start>
        <img src="{{(ticket.logo=='')?'assets/avatar.png':ticket.logo}}">
      </ion-avatar>
      <p class="ticket-status"><span ion-text [style.color]="ticket.color">{{ticket.status}} </span>  - {{ticket.org_name}} </p>
      <p class="ticket-desc-list"> {{ticket.problem_desc}}</p>
      <p>{{ ticket.created_at | date: 'dd-M-yyyy'}}</p>
    </ion-item>
  </ion-list>

</ion-content>