.clientSignBtn{

    background-color: #4cda64;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 190px;
    height: 56px;
    border-radius: 18px;
};

.shadowCards {
    -webkit-box-shadow: thistle;
    box-shadow: thistle;
    width: 94%;
    height: 280px;
    margin-right: 0em;

    box-shadow: 2px 2px 10px 3px grey;
}

.shadowCard{
    box-shadow: thistle;
    //height: 250px;
    width: auto;
     height: 322px;
    margin-right: 3em;
    cardContainer{
        width: auto;
        height: 322px;
        box-shadow: 0px 2px 8px 4px #D0D0D0;
    }
}

.signLogo{
    width: 110px;
    height: 110px;
    background: transparent;
}