<ion-header>

  <ion-navbar>
    <ion-title>TICKET CLIENT SIGN</ion-title>
  </ion-navbar>

</ion-header>
<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2><ion-label align="center" TextDecorations="Underline">CLIENT SIGNATURE</ion-label>
    </h2><hr class="logohr">
    <br><br>
    <ion-img class="signLogo" align="center" src="assets/imgs/sign.png"></ion-img>

    <signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad>
          
          <br>
    <button round class="clientSignBtn" (click)="drawClear()" >Clear Signature</button>
    <button round class="clientSignBtn" (click)="submit()">SUBMIT</button>

</ion-content>
