<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2 class="techbook"><ion-label align="center" TextDecorations="Underline">REMOTE AREA</ion-label>
    </h2><hr class="logohr">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Loading...">
        </ion-refresher-content>
    </ion-refresher>

    <br/>

    <!--<ion-label *ngIf='(history | async)?.length === 0'>
        No Pending Remote Requests
    </ion-label>-->

    <ion-card class="cardContainer" *ngFor="let ticket of history" >
        <ion-card-header class="cardheader-h">
            <div class="cardlabel">
                <ion-label class="ticket"><font color="red">Ticket ID#{{ticket.ticket_id}}</font></ion-label>
                <ion-label class="date">{{ ticket.created_at | date: 'dd-M-yyyy'}}</ion-label>
            </div>
            <!--<hr class="hrLine">-->
            <div class="cardlabel2">
                <div class="cardlabel2P1">
                    <ion-label class="labelfirst">{{ticket.screen_name}}</ion-label>
                    <ion-label style="margin-left:24px;" class="status">{{ticket.status}}</ion-label>
                </div>
            </div>
            <div class="cardlabel2">
                <div class="cardlabel2P1">
                    <ion-label class="labelfirst">Scheduled Date</ion-label>
                    <ion-label style="margin-left:24px;" class="status">{{ticket.schedule_date | date: 'dd-M-yyyy'}}</ion-label>
                </div>
            </div>
            <div class="labelfirsts-h" >
                <ion-label item-start class="labelfirsts">{{ticket.org_name}}</ion-label>
            </div>
            <!--<hr class="hrLine">-->
        </ion-card-header>
        <ion-card-content class="cardContent">
            <div style="margin-top:-18px;" class="cardContent">
                <div class="message">
                    <p>Main Message</p>
                </div>
                <div class="messagedetails">
                    <p>{{ticket.problem_desc}}</p>
                </div>
            </div>

            <div class="actionCircle" style="padding-top:5px;">
                <div style=" width: 56%;
      height: 90px;" style="padding-left:20px;"  class="decline circle-decline" align="left">
                    <a (click)="reject(ticket.ticket_id)"><ion-thumbnail class="circleImage" > <img src="assets/imgs/reject.png"></ion-thumbnail></a>
                </div>
                <div style="width: 56%;
      height: 90px;" style="padding-right:20px;" class="accept circle-accept" align="right">
                    <a (click)="accept(ticket.ticket_id)"><ion-thumbnail class="circleImage"><img src="assets/imgs/accept.png"></ion-thumbnail></a>
                </div>
            </div>

        </ion-card-content>
    </ion-card>
</ion-content>
