<ion-header>

  <ion-navbar>
    <ion-title>START REPAIR</ion-title>
  </ion-navbar>
</ion-header>

<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="imp"><ion-label align="center" TextDecorations="Underline">TECHNICIAN REQUEST</ion-label>
  </h2><hr class="logohr">
  <br><br>
  <div>
    <ion-img style="padding-top:6px;" class="repairImage" align="center" src="assets/imgs/startrepair.png"></ion-img>
  </div>


  <br><br>
  <button  round class="ticketUpdate" align="center" (click) = "startRepair()">START THE REPAIR</button>
  <br><br><br><br><br>
  <button  round class="ticketUpdate" align="center" (click) = "prevHistory()">Previous History</button>
</ion-content>

