<ion-header>

  <ion-navbar>
    <ion-title>JOB DONE</ion-title>
  </ion-navbar>

</ion-header>

<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="imp"><ion-label align="center" TextDecorations="Underline">TECHNICIAN REQUEST</ion-label>
  </h2><hr class="logohr">
  <br>
  <div>
    <ion-img style="padding-top:6px;" class="repairImage" align="center" src="assets/imgs/done.png"></ion-img>
  </div>
<br>
  <button  round class="ticketUpdate" align="center" (click) = "jobDone()">Job Done</button>
    <br><br>
  <button  round class="ticketUpdate" align="center" (click) = "ticketHistoryfunc()">PREVIOUS TICKETS</button>

</ion-content>