<!--
  Generated template for the ChatDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="list">
    <ion-item class="item" *ngFor="let message of messages">
      <ion-avatar item-start>
        <img src="{{(message.user.avatar == null || message.user.avatar == '' )?'assets/avatar.png': message.user.avatar}}">
      </ion-avatar>
      <h2>{{message.user.name}}</h2>
      <p class="sp0" >{{message.message}} </p>
    </ion-item>

  </ion-list>

  <div class="send_message_wrapper">
    <textarea class="description" placeholder="" [(ngModel)]="message_data"></textarea>

    <div  class="btnSend">
      <button (click)="sendmsg()"  class="sendBtn">SEND</button>
    </div>
  </div>

</ion-content>
