page-chat-details {

}

.sendBtn{
  //margin-top:  -1.5em;
  background-color: #FC4F00;
  border: none;
  //border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
  //width: calc(100% - 60%);
  width: 136px;
  height: 28px;
  border-radius: 24px;

};
.btnSend{
  text-align: right;
}


.description{
  margin-top:  0.5em;
  margin-bottom: 0.0em;
  width: 100%;
  border: 1px solid black;
  height: 90px;
  border-radius: 0;
  background: transparent;

}
.sp0{
  line-height: 1.2em; /* Sets line height to 1.5 times text size */
  height: 2.2em; /* Sets the div height to 2x line-height (3 times text size) */
  width: 100%; /* Use whatever width you want */
  white-space: normal; /* Wrap lines of text */
  overflow: hidden; /* Hide text that goes beyond the boundaries of the div */
  text-overflow: ellipsis; /* Ellipses (cross-browser) */
  -o-text-overflow: ellipsis;
}
.list{
  max-height: 70%;
  overflow-y: scroll;
}
.send_message_wrapper{
  position: absolute;
  bottom: 10px;
  width: 90%;
  background-color: #ffffff;
}