<!--
  Generated template for the ReviewtechPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TICKET REVIEW</ion-title>
  </ion-navbar>

</ion-header>
<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2><ion-label align="center" TextDecorations="Underline">QUESTIONS FOR CLIENT</ion-label>
    </h2><hr class="logohr">
    <br>
    <ion-card *ngFor="let question of questions;let i = index;">
    <ion-list radio-group [(ngModel)]="question.selected_answer"  >

        <ion-list-header>
         <ion-label class="question-title">{{question.question}}</ion-label>
        </ion-list-header>
      
        <ion-item style="padding-top:-10px; padding-left:30px;border-bottom:0px">
          <ion-label style="padding-left:-5px;">{{question.ch_1}}</ion-label>
          <ion-radio item-start value="{{question.ch_1}}"  ></ion-radio>
        </ion-item>
      
        <ion-item style="padding-left:30px;border-bottom:0px" *ngIf="question.ch_2!=null">
          <ion-label>{{question.ch_2}}</ion-label>
          <ion-radio item-start value="{{question.ch_2}}" ></ion-radio>
        </ion-item>
      
        <ion-item style="padding-left:30px;border-bottom:0px" *ngIf="question.ch_3!=null">
          <ion-label>{{question.ch_3}}</ion-label>
          <ion-radio item-start value="{{question.ch_3}}"  ></ion-radio>
        </ion-item>

        <ion-item style="padding-left:30px;border-bottom:0px" *ngIf="question.ch_4!=null">
          <ion-label>{{question.ch_4}}</ion-label>
          <ion-radio item-start value="{{question.ch_4}}"  ></ion-radio>
        </ion-item>

        <ion-item style="padding-left:30px;border-bottom:0px" *ngIf="question.ch_5!=null">
            <ion-label>{{question.ch_5}}</ion-label>
            <ion-radio item-start value="{{question.ch_5}}"  ></ion-radio>
        </ion-item>
      </ion-list>
    </ion-card>
    <br>

        <br><br><br>
        <button round class="nexttBtn" (click)="next()" >NEXT</button>
</ion-content>
