.nexttBtn{

    background-color: #FC4F00;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 140px;
    height: 56px;
    float: right;
    border-radius: 18px;
};

.question-title{font-size: 20px;color:#000;text-align: left;}
.checItemCSS{
    padding-left: 38px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
