  
    <ion-tabs  color="tabs" class="tabs" selectedIndex="0" >
      <ion-tab [root]="tab1Root"text-wrap *ngIf="chat" tabTitle="CHAT" tabIcon="chat"></ion-tab>
      <ion-tab [root]="tab2Root" tabTitle="HISTORY" tabIcon="history"></ion-tab>
      <ion-tab [root]="tab3Root" tabTitle="REMOTE" tabIcon="remote"></ion-tab>
      <ion-tab [root]="tab4Root" tabTitle="PROFILE" tabIcon="profile"></ion-tab>
      <ion-tab [root]="tab5Root" tabTitle="FILES" *ngIf="file_perm" tabIcon="troubleshoot"></ion-tab>
      <ion-tab [root]="tab6Root" tabTitle="TICKETS"  tabIcon="history"></ion-tab>
      </ion-tabs>