<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="imp"><ion-label align="center" TextDecorations="Underline">CHAT</ion-label>
  </h2><hr class="logohr">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list class="list" style="overflow: initial;max-height: 100%;">
    <ion-item class="item" *ngFor="let chat of chats" (click)="chatclick(chat.client_id,chat.user.name, chat.thread_id)">
      <ion-avatar item-start>
        <div class="online-status" *ngIf="chat.status!=null"></div>
        <img src="{{(chat.user.avatar == null || chat.user.avatar == '' )?'assets/avatar.png': chat.user.avatar}}">
      </ion-avatar>
      <h2>{{chat.user.name}}</h2>
      <p class="sp0" >{{chat.chats.message}} </p>
    </ion-item>

  </ion-list>
</ion-content>
