.item { border-style: none }
.list{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-bottom: -0.4em;
}
.Logo{
width: 166px;
height: 42px;
background: transparent;
margin-left: auto;
margin-right: auto;

};

.logohr{
    display: block;
    margin-top: - 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    border: 0.5px solid black;
};
.techrequestBtn{
    background-color: #FC4F00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 240px;
    height: 50px;
    border-radius: 12px;
}

.imp .label.label-md{
    font-size: 24px !important;
    
}
.online-status {
    height: 15px;
    width: 15px;
    background-color: #00FF00;
    position: absolute;
    border-radius: 15px;
    top: 4px;
}