.profilePic{
    width: 100px;
    height: 105px;
    background: transparent;
    border-radius: 50%;
    border: 0.5px solid black;
}
.pen{
   // padding-right: 10px;
   //padding-bottom: 10px;
   margin-left: -10px;
}

.buttonLogout {
    
    background-color: #FC4F00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 280px;
    height: 44px;
    border-radius: 6px;
};

.input{
    // width: 100%;

     width: 280px;
     //width: calc(auto - 30%);
     height:44px;
     //padding: 2px 20px;
    padding-right: 16px;
     margin: 8px 0;
     margin-left: auto;
     margin-right: auto;
     box-sizing: border-box;
     border: 0.5px solid black;
     border-radius: 4px;
     font-size: 14px;
     text-align: center;
 };
.penInput{
    padding-left: 20px;
}

.toast-md .toast-message {
  background: #FC4F00 !important;
  font-family: "nexa_bold", "Helvetica Neue", sans-serif;
  text-align: center;
  text-transform: capitalize;
}