<ion-content align="center" padding>
        <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
        <hr class="logohr">
        <h2><ion-label align="center" TextDecorations="Underline">PROFILE</ion-label>
        </h2><hr class="logohr">

<br/><div>
       <!-- <ion-img align="center" class="profilePic" src="assets/avatar.png"></ion-img>
        <ion-icon class="pen" ios="ios-create" md="md-create"></ion-icon>
       
<br/>
      <hr class="logohr"> -->
      <ion-label>CHANGE PASSWORD</ion-label>
      <ion-input class="input" type="password" placeholder="Enter Password" [(ngModel)]="password_data.password"></ion-input>
      <ion-input class="input" type="password" placeholder="Confirm Password" [(ngModel)]="password_data.con_password"></ion-input>
      <button  round class="buttonLogout" (click)="changepwd()">RESET PASSWORD</button>
</div><br/>
<hr class="logohr">
      <ion-label>MODIFY PHONENUMBER</ion-label>
      <ion-input type="number" class="input" placeholder="Modify PhoneNumber" [(ngModel)]="phone_data.phone"></ion-input>
      <button  round class="buttonLogout" (click)="changePhone()">UPDATE NUMBER</button>
      <br><br>
      <hr class="logohr">
      <ion-label>LOGOUT</ion-label>
      <button  round class="buttonLogout" align="center" (click)="logout()">LOGOUT</button>

</ion-content>
