<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="techbook"><ion-label align="center" TextDecorations="Underline">TICKETS HISTORY</ion-label></h2>
 <hr class="logohr">
 <br>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Loading...">
        </ion-refresher-content>
    </ion-refresher>
  <!--<div class="PicRating">
    <div class="prfpic" align="left">
      <div  style="padding-top:4px; padding-left:-2px;" class="cardlabel2P2">
        
        <ion-img style="margin-left:13px; background-color:green;" class="onlineImg"></ion-img>
        <ion-img style="margin-left:-8px;" class="profilerating" src="{{(this.userInfo.avatar=='')?'assets/avatar.png':this.userInfo.avatar}}"></ion-img>
        
        <ion-label class="profiletexts" >{{this.userInfo.name}}</ion-label>
        <ion-label class="profiletexts">{{this.userInfo.phone}}</ion-label>
     </div>  
    </div>
                    <div class="prating" align="right">
                      <div class="prating">
                          <ion-icon name="star" *ngIf="this.userInfo.rating > 0"></ion-icon>
                          <ion-icon name="star" *ngIf="this.userInfo.rating > 1"></ion-icon>
                          <ion-icon name="star" *ngIf="this.userInfo.rating > 2"></ion-icon>
                          <ion-icon name="star" *ngIf="this.userInfo.rating > 3"></ion-icon>
                          <ion-icon name="star" *ngIf="this.userInfo.rating > 4"></ion-icon>
                          <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 1"></ion-icon>
                          <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 2"></ion-icon>
                          <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 3"></ion-icon>
                          <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 4"></ion-icon>
                          <ion-icon name="star-outline" *ngIf="this.userInfo.rating < 5"></ion-icon>
                      </div> 
    </div>
  </div>
  <br>-->
<ion-card class="cardContainer" *ngFor="let ticket of history" (click)="ticketclick(ticket.ticket_id,ticket.approved,ticket.screen_id)">
          <ion-card-header class="cardheader-h">
                  <div class="client-info">
                      <ion-avatar>
                          <img src="{{(ticket.picture=='')?'assets/avatar.png':ticket.picture}}">
                      </ion-avatar>
                      <p>{{ticket.name}} - {{ticket.phone}}</p>
                      <p>{{ ticket.created_at | date: 'dd-M-yyyy'}}</p>
                  </div>
                  <div class="cardlabel">
                       <ion-label class="ticket"><font color="red">ID# {{ticket.ticket_id}}</font></ion-label>
                       <ion-label class="date"  ion-text [style.color]="ticket.color">{{ticket.status}}</ion-label>
                  </div>

                  <div class="cardlabel2">
                     <div class="cardlabel2P1">
                        <ion-label class="labelfirst">{{ticket.screen_name}}</ion-label>
                        <ion-label style="margin:0px;">
                            <div class="rating">
                                <ion-icon name="star" *ngIf="ticket.rating > 0"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 1"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 2"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 3"></ion-icon>
                                <ion-icon name="star" *ngIf="ticket.rating > 4"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 1"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 2"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 3"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 4"></ion-icon>
                                <ion-icon name="star-outline" *ngIf="ticket.rating < 5"></ion-icon>
                            </div>
                        </ion-label>
                      </div>

                      </div>
                     <!-- <div class="labelfirsts-h" >
                      <ion-label item-start class="labelfirsts">{{ticket.org_name}}</ion-label>
                    </div>-->

                   <!-- <div style="padding-top:-5px;" class="personDetails-h">
                        <ion-label class="ratingLabel">Rating</ion-label>

                        </div>-->

                  </ion-card-header>
          <ion-card-content class="cardContent">
              <div style="margin-top:-18px;" class="cardContent">
                  <div class="message">
                    <p>Main Message</p>
                  </div>
                  <div class="messagedetails">
                    <p>{{ticket.problem_desc}}</p>
                  </div>
              </div>
         </ion-card-content>
        </ion-card>


</ion-content>