.PicRating{
    width: 100%;
    height: 60px;
}

.PicRating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 20px;
    left: 4px;
    direction: ltr;
}

.prfpic{
    float: left;
    width: 60%;
    height: 60px;
}


.prating {
    float: right;
    height: 60px;
    padding-right: 5px;
    padding-top: 6px;
    unicode-bidi: bidi-override;
     color: navy;
  font-size: 20px;
}


.prating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 20px;
    left: 3px;
    direction: ltr;
    float: right;
}

.prating > span:hover:before,
.prating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
} 
span.line {
  border: 1px solid rgb(200, 200, 200);
  background: rgb(244, 244, 244);
  font-size: 100px;
}



.shadow{
    // border: 0.5px solid;
     padding: 10px;
     box-shadow: 5px 10px 8px #D0D0D0;
     border-radius: 8px;
 };
 
 .shadowDiv{
      border: 0.5px plan;
      padding: 10px;
      box-shadow: 2px 2px 8px 6px #D0D0D0;
      border-radius: 8px;
      box-shadow: 2px 2px 10px 3px grey;
  };
  
   .rating > span {
     display: inline-block;
     position: relative;
     width: 1.1em;
     font-size: 30px;
     left: 32px;
     direction: ltr;
     float: right;
 }
   .rating > span:hover:before,
   .rating > span:hover ~ span:before {
      content: "\2605";
      position: absolute;
   } 
   span.line {
     border: 1px solid rgb(200, 200, 200);
     background: rgb(244, 244, 244);
     font-size: 100px;
 }
 .alignleft {
     float: left;
 }
 .alignright {
     float: right;
 }
 
 .d{
     padding: 10px;
     box-shadow: 5px 10px 8px #D0D0D0;
     border-radius: 8px;
 };
 
 .cardContainer{
     width: auto;
     height: 322px;
     box-shadow: none;
   border-bottom: 1px solid #000;
 }
 .cardContainer {
    width: auto;
    height: auto;
}
 .cardheader{
     width: auto;
     height: 235px;
 }
 .content-md hr {
    float: left;
    width: 100% !important;
}
.labelfirsts-h {
    width: 100%;
    float: left;
    height: auto;
    /*padding: 15px 0px;*/
}
.cardheader {
    width: 100%;
    height: auto !important;
    float: left;
}
 .personDetails-h {
    width: 100%;
    margin-top: 0.1em;
    height: auto;
    float: left;
}
 .cardlabel,.cardlabel2 {
    width: 100%;
    height: auto;
    float: left;
}
 .ticket{
     float: left;
     width: auto;
     height: auto;
     color: gray;
     margin-left: 0.5em;
     margin-bottom: 0.1em;
 }
 .date{
     float: right;
     width: auto;
     height: auto;
     color: gray;
 }
 .labelfirsts{
     
     float: left;
     width: auto;
     height: 16px;
     line-height: 1em;
     margin-left: 0.5em;
     margin-bottom: 0.1em;
     margin-top: -1.5px;
 }
 .labelfirst{
     
    float: left;
    width: auto;
    /*height: 16px;*/
    color: gray;
    margin-left: 0.5em;
    margin-bottom: 0.1em;
    margin-top: -2.5px;
   font-size: 18px;
}
 .labelName{
     
     float: right;
     width: auto;
     height: 16px;
     color: gray;
 }
 .status{
     float: right;
     width: auto;
     height: 16px;
     color: gray;
     height: 20px;
     margin-top: -2.5px;
 }
 .profilerating{
    
    float: left;    
    width: 25%;
    height: 56px;
   position: relative;
   z-index: 10;
   overflow: hidden;
    align-self: left;
    background: transparent;
   // margin-left: 0.5em;
    border-radius: 50%;  
    border: solid 0.5px black;
 }
 .onlineImg{

    float: left;    
    width: 5%;
    height: 20px;
   position: relative;
   z-index: 100;
    align-self: left;
    background: transparent;
   // margin-left: 0.5em;
    border-radius: 50%;  
 }
 /*
.profileratingonline{
    
    float: left;    
    width: 2%;
    height: 20px;  
    margin-left: 0.5em;
    border-radius: 50%;  
    background-color: green;
    border: solid 0.5px black;
    background: green;
 }

 */
 .personDetails{
     width: auto;
     margin-top: 0.1em;
     height: 45px;
 }
 
 .cardlabel2P1{
     width: auto;
     height: 29px;
     /*margin-top: 15px;*/
 }
 .cardlabel2P2{
     //width: auto;
     width: 220px;
     height: 60px;
     //margin-bottom: 0.2em;
     margin-top: 0.1em;
 }
 .cardlabel2P2 label{
     width: auto;
     float: left;
 }
 
 .rating {
   unicode-bidi: bidi-override;
   color: navy;
   /*margin-right: 0px;
   float: right;
   width: 67%;*/
   text-align: right;
   font-size: 20px;
 }
 .cardlabel{font-weight:bold;}
 .ratingLabel {
     float: left;
     width: 20%;
     margin-top: 9px;
     margin-left: 0px;
     height: 20px;
 }
 //////////////////////
 .hrLine{
     border: 0.5px solid black;
 }
 
 
 
 .profileImage{
     float: left;    
     width: 20%;
     height: 60px;  
     align-self: left;
     background: transparent;
     margin-left: 0.5em;
     border-radius: 50%;  
     border: solid 0.5px black;
 }
 .profiletexts{
     float: left;
     line-height: 1.2em;
     width: auto;
     height: 18px;
     margin-left: 0.5em;
     margin-top: 0.4em;
   margin-bottom: -0.2em;
 }
 .cardContent{
     width: auto;
     /*height: 86px;*/
     /*margin-top: 1.4em;*/
  /* padding: 0 25px;*/
   padding: 0 12px;
 }
 .client-info ion-avatar{width: 40px;float:left;margin-right:10px;}
 .client-info{text-align:left;}
 .message{

     width: 100%;
    /* height: 16px;*/
   text-align: left;
     color: gray;
     font-weight: bold;
     margin-top: -1em;

 }
 .message p{font-size: 18px;}
 .messagedetails{
 font-size: 18px;
     width: 100%;
     margin-top: 0.8em;
     text-align: justify;
 }
 .ticketUpdate{
        background-color: #FC4F00;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 240px;
        height: 50px;
        border-radius: 12px;
 }

