$font-family-md-base: "nexa_light";
$font-family-ios-base: "nexa_light";
$font-family-wp-base: "nexa_light";
$font-family-md-base: "nexa_bold";
$font-family-ios-base: "nexa_bold";
$font-family-wp-base: "nexa_bold";



@font-face {
    font-family: 'nexa_light';
    src: url('../assets/fonts/nexa_light.otf') format('otf'), url('../assets/fonts/nexa_bold.woff') format('otf');
    font-weight: 200;
    //font-style: normal;
  }
  
  
  textarea,body,ion-list,ion-item,ion-label,p,label, span, h1, h3, h4, h5, h6{
    font-family: nexa_light !important;
    
}

@font-face {
    font-family: nexa_light;
    src: url('../assets/fonts/nexa_light.otf') format("otf");
    font-weight: 100;
    }
    @font-face {
       font-family: nexa_bold;
        src: url('../assets/fonts/nexa_bold.otf') format("otf");
        font-weight: 200;
        }
   
    textarea,body,ion-list,ion-item,ion-label,p,label, span, h3, h4, h5, h6{
        font-family: AppFont !important;
     }

    h2,title{
        font-family: AppFontBold !important;
        font-weight: bold;
    }
    ion-alert,ion-message,ion-alert,button,ion-label,ion-option,ion-searchbar,ion-label,ion-input,button,ion-label,p,label,ion-option,ion-list,ion-item{
       // font-family: nexa_light !important;
       font-family: AppFont !important;
    }

.toast-md .toast-message {
  background: #FC4F00 !important;
  font-family: "nexa_bold", "Helvetica Neue", sans-serif;
  text-align: center;
  text-transform: capitalize;
}
.toolbar-background-md {
  border-color: #FC4F00 !important;
  background: #FC4F00 !important;
  color:#fff !important;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{color:#fff;}
.toolbar-title-md {
  color: #fff;
  text-transform: capitalize;
  font-family: AppFontBold;
}

