<!--
  Generated template for the PreviousticketsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>previoustickets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2 class="imp"><ion-label align="center" TextDecorations="Underline">PREVIOUS REQUEST</ion-label>
    </h2><hr class="logohr">
    <br>

    <ion-card class="cardContainer" *ngFor="let ticket of history">
        <ion-card-header class="cardheader-h">
            <div class="cardlabel">
                <ion-label class="ticket"><font color="red">Ticket ID#{{ticket.ticket_id}}</font></ion-label>
                <ion-label class="date">{{ ticket.created_at | date: 'dd-M-yyyy'}}</ion-label>
            </div>
            <hr class="hrLine">
            <div class="cardlabel2">
                <div class="cardlabel2P1">
                    <ion-label class="labelfirst">{{ticket.screen_name}}</ion-label>
                    <ion-label style="margin-left:24px;" class="status">{{ticket.status}}</ion-label>
                </div>
                <hr class="hrLine">
            </div>
            <div class="labelfirsts-h" >
                <ion-label item-start class="labelfirsts">{{ticket.org_name}}</ion-label>
            </div>
            <hr class="hrLine">
            <div style="padding-top:-5px;" class="personDetails-h">
                <ion-label class="ratingLabel">Rating</ion-label>
                <div class="rating">
                    <ion-icon name="star" *ngIf="ticket.rating > 0"></ion-icon>
                    <ion-icon name="star" *ngIf="ticket.rating > 1"></ion-icon>
                    <ion-icon name="star" *ngIf="ticket.rating > 2"></ion-icon>
                    <ion-icon name="star" *ngIf="ticket.rating > 3"></ion-icon>
                    <ion-icon name="star" *ngIf="ticket.rating > 4"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="ticket.rating < 1"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="ticket.rating < 2"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="ticket.rating < 3"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="ticket.rating < 4"></ion-icon>
                    <ion-icon name="star-outline" *ngIf="ticket.rating < 5"></ion-icon>
                </div>
            </div>
            <hr class="hrLine">
        </ion-card-header>
        <ion-card-content class="cardContent">
            <div style="margin-top:-18px;" class="cardContent">
                <div class="message">
                    <p>Main Message</p>
                </div>
                <div class="messagedetails">
                    <p>{{ticket.problem_desc}}</p>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
