<!--
  Generated template for the TechrequestPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>techrequest</ion-title>
  </ion-navbar>

</ion-header>
<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2 class="imp"><ion-label align="center" TextDecorations="Underline">Ticket # {{ticket_id}}</ion-label>
    </h2><hr class="logohr">
    <br>
    <div align="center" class="imgVoda" >
    <ion-img  class="imgVoda" src="{{(logo=='')?'assets/avatar.png':logo}}"></ion-img>
  </div >
    <div style="margin-top:-10px;" class="labelVodafone">
      <ion-label style="padding-left:-2px;" align="center">{{organization}}</ion-label>
      <ion-label style="margin-top:-8px;padding-left:-2px;">Screen ID: {{screen_id}}</ion-label>
    </div>

    <div>
      <ion-card class="backshadow">
        <ion-label style="float:left; margin-left:12px;">Address: {{address}}</ion-label>
      </ion-card>
    </div>
    <div>
      <div></div>

      <div class="labeltext1">
        <div class="labeltext1p1">
          <ion-img  class="labelImage" src="assets/imgs/done.png"></ion-img>
        </div>
        <div style="padding-top: 9px;" class="labeltext1p2">
          <ion-label style="float:left; margin-top:9px; line-height: 16px; font-size:14px;"  >Estimated Distance {{distance}}</ion-label>
        <ion-label style="float:left; margin-top:-5px; line-height: 16px; font-size:14px;">Estimated time for arrival {{duration}}</ion-label>
        </div>
      </div>
    </div>
    <div class="actionCircle" style="padding-top:5px;">
      <div style=" width: 56%;
      height: 90px;" style="padding-left:20px;"  class="decline circle-decline" align="left">
          <a (click)="reject()"><ion-img  class="circleImage" src="assets/imgs/reject.png"></ion-img></a>
      </div>
      <div style="width: 56%;
      height: 90px;" style="padding-right:20px;" class="accept circle-accept" align="right">
          <a (click)="accept()"><ion-img class="circleImage" src="assets/imgs/accept.png"></ion-img></a>
      </div>
    </div>
    <!--<br>-->
    <!--<br>-->
    <!--<button  round class="ticketUpdate" align="center" (click) = "techRequest()">NEXT</button>-->
  </ion-content>

  <!--


  -->
