.logoPerson{
        float: left;    
        width: 40%;
        height: 130px;  
        align-self: left;
        background: transparent;
        margin-left: 0.5em;
        border-radius: 50%;  
        border: solid 0.5px black;
}
.imgVoda {
    width: 62%;
    height: 150px;
    background: transparent;
    margin-left: 43px;
    margin-bottom: 0px;
}
.backshadow{
    box-shadow: 2px 2px 8px 6px #D0D0D0;
    // border-radius: 8px;
 };

    .labeltext1p1 {
        width: 25%;
        float: left;
        padding: 3px;
    }

    .labelVodafone{
            padding-top: -2px;
    }

    .labeltext1{
            width: auto;
            height: 60px;

    }
    .labeltext1p11{
        width: 25%;
        height: 60px;
        float: left;
    }
    .labeltext1p22{
        width: 75%;
        height: 20px;
        float: right;
        line-height: 1.0em;
    }
    .labeltext1p2 {
        width: 75%;
        float: left;
        padding: 2.5px;
        line-height: 1.0em;
    }
    .labelImage{
        width: 48%;
    height: 48px;
        background: transparent;
        float: left;
        margin-left: 39px;
        margin-top: 15px;
    }

    .actionCircle{
        width: 100%;
        height: auto;
        float: left;        
    margin: 15px 0px;
    }
    .decline.circle-decline {
        width: 50%;
        float: left;
        height: 100px;
    }
    .accept.circle-accept{
        width: 50%;
        float: left;
        height: 100px;
    }
    ion-img.circleImage.img-loaded {
        height: 89px;
    }
    