<!--
  Generated template for the JobreviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>JOB REVIEW</ion-title>
  </ion-navbar>

</ion-header>

<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="imp"><ion-label align="center" TextDecorations="Underline">TECHNICIAN REQUEST</ion-label>
  </h2><hr class="logohr">
  <br><br>
  
  <br><br>
  <button  round class="ticketUpdate" align="center" (click)="submit()">SUBMIT</button>
</ion-content>

