input[type='checkbox'] {
    display: none;
  }

  .lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
  
    color:gray;
    background: gray;
    
  
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;
  }
  
  .lbl-toggle:hover {
    color:white;
  }

  .lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
  }
  .collapsible-content .content-inner {
    background: white;
    border-bottom: 1px solid white;
  
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
  }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.circle{

  width: auto;
  height: 75px;
  padding-bottom: -15px;
}
.decline{
  width: 50%;
  float: left;
  height: 65px;
}
.accept{
  width: 50%;
  float: right;
  height: 65px;
}
.circleImage{
  width: 52%;
  height: 45px;
  border-radius: 50%;
  //border: 0.5px gray solid;

}


.labelscreen {
  float: left;
  width: auto;
  height: 16px;
  color: gray;
  margin-left: 0.5em;
  margin-bottom: 0.1em;
  margin-top: 3.5px;
}
.cardCont{
  width: auto;
  height: 364px;
  box-shadow: 0px 2px 8px 4px #D0D0D0;
}