.btnSubmit {

    background-color: #FC4F00;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    width: 280px;
    height: 44px;
    border-radius: 6px;
};