<ion-header>

  <ion-navbar>
    <ion-title>TICKET UPDATE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div align="center">
      <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
      <hr class="logohr">
      <h2 class="imp"><ion-label align="center" TextDecorations="Underline">TICKET UPDATE</ion-label>
      </h2><hr class="logohr"><br>
      <ion-img style="padding-top:6px;" align="center" class="ticketImg" src="assets/imgs/updateimg.png"></ion-img>
  
  </div>  
    <br><br><br>
  <ion-item style="border: 0.5px solid black; padding-left:0px;" class="multiPicker">
    <ion-label style="padding-left:15px;" placeholder="Status">Status</ion-label>
    <ion-select [(ngModel)]="selected_status">
      <ion-option *ngFor="let stat of status" [value]="stat.stat_id">{{stat.status}}</ion-option>
    </ion-select>
  </ion-item>


<textarea style="margin-left:18px;" class="ticketDetailsArea" placeholder="Enter Status Description here" [(ngModel)]='message'></textarea>
<div style="padding-right:17px; padding-top:2px;">
  <button round class="tecBtn" (click)="next()" >NEXT</button>

</div>
</ion-content>
