.ticketImg {
    background: transparent;
    width: 30%;
    height: 136px;
    padding-top: 21px;
    margin-bottom: 0px;
}

.tecBtn{

    background-color: #FC4F00;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 120px;
    height: 46px;
    border-radius: 18px;
    float: right;
};
.imgFwd{
    display: block;
    margin-top:  1.9em;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 100px;
    background-color: transparent;

    //padding-bottom: 40px;
};
.textArea{
    margin-top:  0.5em;
    //margin-bottom: -0.5em;
    width: calc(100% - 38px);
    border: 1px solid black;
    height: 250px;
    border-radius: 0;
    background: transparent;
}

textarea.ticketDetailsArea::-webkit-input-placeholder {
    text-align: justify;
    padding: 0px 15px;
}

.ticketDetailsArea {
    margin-top: 0.5em;
    width: calc(100% - 38px);
    border: 1px solid black;
    height: 250px;
    border-radius: 0;
    line-height: 1em;
    font-size: 12px;
    background: transparent;
    padding-top: 5px;
    text-align: justify;
}
.multiPicker{  
    width: calc(100% - 38px);
    margin-top:  -0.5em;
    //margin-bottom: -0.5em;
    border: 0.5px solid black;
    margin-left: 1.2em;
    //position: absolute;
}

