
<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2 class="imp"><ion-label align="center" TextDecorations="Underline">TROUBLESHOOT FILES</ion-label>
    </h2><hr class="logohr">




  <ion-searchbar class="searchbar"
  [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()" 
  placeholder="Search Our Library">
</ion-searchbar>
<br/>
<ion-list class="list">
    <ion-item *ngFor="let file of files">
      <ion-thumbnail item-start class="docImage">
          <img class="docImage" src="assets/pdf.png" alt="{{file.file_name}}" />
      </ion-thumbnail>
      <p class="file-desc"> {{ file.file_name }}</p>
      <a href="{{ file.path }}"><ion-thumbnail item-end class="downImage"><img src="assets/download.png"></ion-thumbnail></a>
    </ion-item>
</ion-list>
</ion-content>
    