.ticketfile{
    float: center;    
    width: 60%;
    height: 300px;  
    align-self: left;
    background: transparent;
    margin-left: 0.5em;
    margin-top: 10px;
}

.capture{
    border-radius: 50%;
    margin-top: 0.6em;
    float: center;    
    width: 50px;
    height: 50px;  
    align-self: left;
    background: transparent;
    margin-left: 0.5em;
}
.nextBtn{

    background-color: #FC4F00;
    border: transparent;
    //border: none;
    color: white;
    padding: 13px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 140px;
    height: 56px;
    float: right;
    border-radius: 18px;
};