<!--
  Generated template for the TakephotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>TICKET TAKEPHOTO</ion-title>
  </ion-navbar>

</ion-header>
<ion-content align="center" padding>
    <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
    <hr class="logohr">
    <h2><ion-label align="center" TextDecorations="Underline">TICKET UPDATE</ion-label>
    </h2><hr class="logohr">
  
    <ion-card>
      <div align="center" style="padding-top: 40px;">
          <ion-img  align="center"  style="padding-top: 40px;" class="ticketfile"  src="{{photo}}"></ion-img>
  
      </div>
    </ion-card><br>
    <ion-img align="center"  class="capture" src="assets/circle.png" (click)="takePicture()" ></ion-img>
    <br><br>

    <button round class="nextBtn" (click)="next()" >NEXT</button>



</ion-content>
