
.CardImageLabelCSS{
    width: auto;
    height: 120px;
    margin-bottom: 6px;

    box-shadow: 2px 2px 10px 3px grey;
}

.CardImageCSS{
    width: 40%;
    float: left;
    height: 120px;
}
.labelCSS{
    width: 75%;
    height: 20px;
    float: right;
    line-height: 1.0em;
}
.CardLabelCSS {
    width: 60%;
    float: right;
    height: 120px;
    padding-top: 32px;
    padding-left: 50px;
}
.techbook .label.label-md{
    font-size: 24px !important;
    
}

.vodaImage {
    width: 80px;
    height: 109px;
    border-radius: 50%;
    background: transparent;
    padding-top: 15px;
    border-color: 0.5px solid black;
}
.vodaLabels{
    float: right;
    padding-top: 2px;
    padding-right: 10px;
    float: right;
}


.mapImage{
    width: 100%;
    height: 60%;
    background-color: transparent;
}

.CardofVoda{
    width: 89%;
    height: auto;
    background-color: aquamarine;
    box-shadow: 19px 7px 5px 1px grey;
    padding: 20px;
    margin: 0 auto;
}


.imgUser {
    width: 25% !important;
    float: left;
    height: auto;
}
.information{background-color: #FC4F00;text-align: center;height: 30px;line-height: 30px;color:#ffffff;padding:0px;}