<ion-header>

  <ion-navbar>
    <ion-title>Ticket Details</ion-title>
  </ion-navbar>

</ion-header>
<ion-content align="center" padding>
  <ion-img class="Logo" align="center" src="assets/kitvision.png"></ion-img>
  <hr class="logohr">
  <h2 class="techbook"><ion-label align="center" TextDecorations="Underline">TECHNICIAN REQUEST</ion-label>
  </h2><hr class="logohr">
  <br>
  <div class="information">Estimated time {{duration}}</div>
  <div class="mapImage" id="map" style="height: 60%">
    <!--<ion-img class="mapImage" align="center" src="assets/imgs/map.png"></ion-img>-->
  </div>
  <div align="center" >
    <ion-label style="font-size:20px; font-weight:300;">Client Info</ion-label>
  </div>
  <br>
  
  <div class="CardImageLabelCSS">
    <div class="CardImageCSS">
      
      <ion-img class="vodaImage" src="{{(logo=='')?'assets/avatar.png':logo}}"></ion-img>
    </div>
    <div class="CardLabelCSS">
        <ion-label style="float:left; margin-top:7px; line-height: 14px; font-size:14px;" class="vodaLabels">{{organization}}</ion-label>
        <ion-label style="float:left; margin-top:2px; line-height: 12px; font-size:14px;" class="vodaLabels">{{phone}}</ion-label>
     </div>
    </div>
<br>
    <button  round class="ticketUpdate" align="center" (click) = "next()">READY TO START? </button>
</ion-content>
